.communication
    padding-top: 40px
    padding-bottom: 40px
    background-color: $mainColor
    &-header
        color: white
    &-contacts
        vertical-align: top
        display: inline-block
        width: 49%
        ul
            padding-left: 0
            li
                color: white
                list-style-type: none
                margin-bottom: 15px
                .communication-contacts-phone
                    text-decoration: none
                    outline: none
                    cursor: pointer
                    color: white
    &-form 
        display: inline-block
        width: 49%
        &_button
            outline: none
            border: none
            padding: 10px 15px
            width: 60%
            outline: none
            cursor: pointer
            border-radius: 50px
            margin-top: 20px

        .contact-form
            &__input
                width: 100%
                position: relative
                padding: 10px 15px
                display: block 
                margin-bottom: 10px
                outline: none
                border: 1px solid white 
                border-radius: 3px
                transition: 0.3s
                background: transparent
                color: white
                cursor: pointer
                resize: none
                &::placeholder
                    color: white
                &:hover
                     border-radius: 5px
                   

.wrapper-input
    position: relative
    width: 60%

                   
                    
                
                            
                               

