.communication
    padding-top: 40px
    padding-bottom: 40px
    background-color: $mainColor
    margin-top: 0
    &-header
        color: white
    &-contacts
        vertical-align: top
        display: inline-block
        width: 35%
        table
            color: white            
    &-form 
        display: inline-block
        width: 64%
        &_button
            position: relative
            top: 0
            outline: none
            border: none
            padding: 10px 15px
            width: 60%
            outline: none
            cursor: pointer
            border-radius: 50px
            margin-top: 20px
            box-shadow: 0 5px 0   #161b13
            transition: 0.3s
            font-weight: 800
            color: $mainColor
            &:hover
                color: white
                background-color: #666666
            &:active
                top: 3px
                box-shadow: 0 2px 0   #161b13
        .contact-form
            &__input
                width: 100%
                position: relative
                padding: 10px 15px
                display: block 
                margin-bottom: 10px
                outline: none
                border: 1px solid white 
                border-radius: 4px
                transition: 0.3s
                background-color: transparent !important
                color: white
                cursor: pointer
                resize: vertical
                &::placeholder
                    color: white
                &:hover
                    box-shadow: 0 0 7px #ffffff
                &:focus
                    box-shadow: 0 0 7px #ffffff
.wrapper-input
    position: relative
    width: 60%
._error
    box-shadow: 0 0 7px red
.popup
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100% 
    background: rgba(51, 51, 51, 0.7)
    z-index: 101
    transform: scale(0)
    &__error
        position: absolute
        display: flex
        content: ''
        top: 50%
        left: 50%
        transform: translate(200%, -50%)
        width: 400px
        height: 200px
        background-color: $mainColor
        border-radius: 5px
        box-shadow: 0 0 7px #161b13
        color: white
        transition: 0.3s
        padding: 10px 15px
        justify-content: center
        align-items: center
.activePopup
    transform: translate(-50%, -50%)    
@media (max-width: 992px) 
    .communication-form
        width: 67%
    .communication-contacts
        width: 32%
    
    .wrapper-input, .communication-form_button
        display: block
        margin-left: auto
        width: 70%  
@media (max-width: 768px)
    .communication-contacts
        display: none         
    .wrapper-input, .communication-form_button
        width: 100%
@media (max-width: 480px)  
    .communication
        &-form
            width: 100% 

        



                   
                    
                
                            
                               

