.portfolio
    &-block

        .wrapper
            outline: none 
            display: flex !important       
            overflow: hidden
        &s
            display: inline-block
            width: 50%
            &_subtitle
                font-size: 22px
                color: $mainColor
                transition: 0.3s
                margin-bottom: 10px
            img
                width: 100% 
            &_text
                position: absolute
                left: 0
                top: 50%
                transform: translate(0px, -50%)  
                transition: 0.4s

            &_links
                position: absolute
                left: 50%
                top: 50%
                opacity: 0
                transform: translate(1000px, -50%)  !important
                transition: 0.4s
                a
                    display: block
                    text-decoration: none
                    color: $mainColor
                    outline: none
                    cursor: pointer
                    margin-bottom: 5px
                    &:hover
                        color: red
.block-text
    display: flex
    align-items: center 
    position: relative
    margin-left: 10px
    &:hover
        .portfolio-blocks_links
            transform: translate(-50%, -50%)  !important
            opacity: 1
        .portfolio-blocks_text
            opacity: 0
            transform: translate(1000px, -50%)  
        .portfolio-blocks_subtitle
            color: red   !important   
@media (max-width: 400px)
    .portfolio-blocks_subtitle
        font-size: 18px
                                   
                
                
  
