@font-face {
    font-family: 'tetris';
    src: url('tetris.eot');
    src: url('tetris.eot?#iefix') format('embedded-opentype'),
        url('tetris.woff2') format('woff2'),
        url('tetris.woff') format('woff'),
        url('tetris.ttf') format('truetype'),
        url('tetris.svg#tetris') format('svg');
    font-weight: normal;
    font-style: normal;
}

